body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: url('https://images.unsplash.com/photo-1635400138431-0bbde4d01484?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center center/cover;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.controls {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 10px;
}

button, select, input {
    padding: 8px;
    font-size: 14px;
    border:none;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr{
    background-color: #dedede;

}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
#randomContent {
    margin: 0 auto;
    border-radius: 10px;
    background: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    padding: 20px;
    text-align: center;
}

.randomImg {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.5));
    outline: dashed 5px black;
    transition: 200ms;
    margin: 0 auto;

    &:hover{
        scale: 1.1;
        filter: drop-shadow(0px 10px 50px rgba(255, 255, 255, 0.8));
        outline: solid 5px black;

    }
}

.randomDiv{
    grid-area: content;
    & #NomeRandom{
        font-size: 2rem;
        margin-bottom: 20px;
    }
    & .randomGenero{
        font-size: 1.2rem;
    }
    & i {
        background: gold;
        padding: 3px;
        border-radius: 2px;
        margin-right: 2px;
        color: black;
    }
}

.tag {
    grid-area: tags;
    display: inline-flex;
    align-items: center;
    padding: 2px 6px;
    margin: 2px;
    border-radius: 3px;
    font-size: 0.8em;
}

.tag-icon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.tag-terror {
    background-color: #ff4d4d;
    color: white;
}

.tag-comedia {
    background-color: #ffd966;
    color: black;
}

.tag-romance {
    background-color: #ff99cc;
    color: black;
}

.tag-suspense {
    background-color: #9900cc;
    color: white;
}

.tag-ficcao {
    background-color: #66ccff;
    color: black;
}

.tag-acao {
    background-color: #ff9933;
    color: black;
}

.tag-desenho {
    background-color: #99cc00;
    color: black;
}

.tag-default {
    background-color: #808080;
    color: white;
}

.strikethrough {
    text-decoration: line-through;
    & .tag{
        text-decoration: line-through;
    }
    background: rgb(38, 188, 38) !important;
}
img.lazy-load {
    width: 100px;  /* ou o tamanho que preferir */
    height: 150px; /* mantenha a proporção adequada */
    background-color: #f0f0f0; /* cor de placeholder */
  }

img {
    transition: opacity 0.3s ease-in-out;
  }
  
  img.lazy-load {
    opacity: 0;
  }
  
  img:not(.lazy-load) {
    opacity: 1;
  }

@media (max-width: 600px) {
    header h1{
        font-size: 1.5rem;
    }
    main{
        padding: 10px;
    }
    .controls {
        flex-direction: column;
    }

    #randomContent {
        grid-template-areas: 
            "img"
            "content";
        gap: 10px;
        align-content: center;
    }

    .randomDiv{
        text-align: center;
    }

    .randomImg{
        width: 200px;
        height: 300px;
    }

    #NomeRandom{
        font-size: 1.5rem;
    }

    table {
        font-size: 0.9rem;
    }

    th, td {
        padding: 6px;
    }
}